<style>
.workspace {
    font-weight: normal;
}

.workspace_name {
    font-weight: bold;
}

.workspace_header {
    font-style: italic;  
    font-weight: bold;          
}

.workspace_subheader {
    font-style: italic;  
}

.workspace_details {
    margin-top: 10px;
    font-size: 0.9em;
}

.workspace_resources {
    margin-top: 10px;
    font-size: 0.9em;
}
</style>

<div class='form-group' id='kubespawner-profiles-list'>
{% for profile in profile_list %}
<label for='profile-item-{{ profile.slug }}' class='form-control input-group'>
    <div class='col-md-1'>
        <input type='radio' name='profile' id='profile-item-{{ profile.slug }}' value='{{ profile.slug }}' {% if profile.default %}checked{% endif %} />
    </div>
    <div class='col-md-11 workspace'>
        <div>
            <div class='row'>
                <div class='col-md-11'>
                    <div class='workspace_name'>{{ profile.display_name }}</div>
                    {% if profile.description %}
                        <div class='workspace_description'>{{ profile.description }}</div>
                    {% endif %}
                </div>
            </div>
            <div class='row workspace_details'>
                <div class='col-md-6'>
                    {% if profile.kubespawner_override.image %}
                        <div class='workspace_header'>
                            Image:
                        </div>
                        <div class='workspace_image'>
                            {{ profile.kubespawner_override.image.split('/')[-1] }}
                        </div>
                    {% endif %}
                </div>
                <div class='col-md-6'>
                    <div class='workspace_header'>
                        Access expires in:
                    </div>
                    <div class='workspace_expiry'>
                        {{profile.ws_days_left.days }} days.
                    </div>
                </div>
            </div>
            <div class='row workspace_resources'>
                <div class='col-md-6'>
                    <div class='workspace_header'>
                        Memory:
                    </div>
                    <div class='col-md-6'>
                        <div class='workspace_subheader'>
                            Guaranteed:
                        </div>
                        <div> 
                            {% if profile.kubespawner_override %}
                                {% if profile.kubespawner_override.mem_guarantee %}
                                    {{profile.kubespawner_override.mem_guarantee / 1024 / 1024 / 1024 }}Gi
                                {% endif %}
                            {% endif %} &nbsp;
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='workspace_subheader'>
                            Limit:
                        </div>
                        <div> 
                            {% if profile.kubespawner_override %}
                                {% if profile.kubespawner_override.mem_limit %}
                                    {{profile.kubespawner_override.mem_limit / 1024 / 1024 / 1024}}Gi
                                {% endif %}
                            {% endif %} &nbsp;
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='workspace_header'>
                        CPU:
                    </div>
                    <div class='col-md-6'>
                        <div class='workspace_subheader'>
                            Guaranteed:
                        </div>
                        <div> 
                            {% if profile.kubespawner_override %}
                                {% if profile.kubespawner_override.cpu_guarantee %}
                                    {{profile.kubespawner_override.cpu_guarantee}}
                                {% endif %}
                            {% endif %} &nbsp;
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <div class='workspace_subheader'>
                            Limit:
                        </div>
                        <div> 
                            {% if profile.kubespawner_override %}
                                {% if profile.kubespawner_override.cpu_limit %}
                                    {{profile.kubespawner_override.cpu_limit}}
                                {% endif %}
                            {% endif %} &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</label>
{% endfor %}
</div>
